@font-face {
    font-family: 'Walsheim';
    src: url('../fonts/GTWalsheimPro-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Walsheim';
    src: url('../fonts/GTWalsheimPro-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Walsheim';
    src: url('../fonts/GTWalsheimPro-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Walsheim';
    src: url('../fonts/GTWalsheimPro-Bold.ttf');
    font-weight: 700;
}