@import 'font.css';

:root {
    --accent: #60c658;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: 'Walsheim';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: .3s;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.title {
    font-size: 48px;
    line-height: 58px;
    color: #222;
    font-weight: 400;
    margin-bottom: 35px;
    text-align: center;
}

h3 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    color: #222;
    max-width: 250px;
    margin: 0 auto 15px;
    text-align: center;
}



/* header start */

.header {
    background: url(../images/banners/headerBanner2.jpg) no-repeat center right / cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.clouds {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 70%;
    display: block;
    background: transparent url(../images/banners/Smoke.png) repeat top center;
    -moz-animation: move-clouds-back 200s linear infinite;
    -ms-animation: move-clouds-back 200s linear infinite;
    -o-animation: move-clouds-back 200s linear infinite;
    -webkit-animation: move-clouds-back 200s linear infinite;
    animation: move-clouds-back 200s linear infinite;
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@-webkit-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@-moz-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@-ms-keyframes move-clouds-back {
    from {
        background-position: 0;
    }

    to {
        background-position: 10000px 0;
    }
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header__list {
    display: flex;
    gap: 20px;
}

.header__logo {
    width: 176px;
    height: 100px;
    overflow: hidden;
}

.header__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__link {
    font-size: 22px;
    color: #fff;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);

}

.header__link.active {
    border-bottom: 3px solid #60c658;
    border-radius: 3px;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(69, 128, 184, 0.15);
    margin-top: 10px;
    border-radius: 10px;
    backdrop-filter: blur(15px);
}

.nav-dropdown li {
    padding: 10px 15px;
}

.nav-dropdown li a {
    color: #ffffff;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
    font-size: 18px;
}

/* header end */

section {
    padding: 50px 0;
}

section .container {
    text-align: center;
}

/* benefit start */
/* 
.benefit {
    position: relative;
}

.benefit::after {
    content: '';
    position: absolute;
    top: -110px;
    left: 0;
    right: 0;
    height: 120px;
    background: url(../images/banners/paper.png);
    -moz-animation: move-clouds-back 200s linear infinite;
    -ms-animation: move-clouds-back 200s linear infinite;
    -o-animation: move-clouds-back 200s linear infinite;
    -webkit-animation: move-clouds-back 200s linear infinite;
    animation: move-clouds-back 200s linear infinite;
}

.benefit::before {
    content: '';
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    height: 90px;
    background: url(../images/banners/paper2.png);
    -moz-animation: move-clouds-back 200s linear infinite;
    -ms-animation: move-clouds-back 200s linear infinite;
    -o-animation: move-clouds-back 200s linear infinite;
    -webkit-animation: move-clouds-back 200s linear infinite;
    animation: move-clouds-back 200s linear infinite;
    z-index: 1;
} */

.benefit__txt {
    max-width: 250px;
    color: #666;
    margin: 0 auto;
}

.benefit__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* benefit end */

/* contain start */

.contain {
    background: #f3f9ff;
    position: relative;
    height: 80vh;
}

.contain__title {
    padding-top: 50px;
}

.contain__txt {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 50px;
    color: #666;
}

/* .cup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 180px;
    border: 6px solid #262626;
    border-top: 2px solid transparent;
    border-radius: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: url(https://image.ibb.co/fmHm66/wave.png);
    background-position: 0px 350px;
    background-repeat: repeat-x;
    animation: filling 10s ease-in-out infinite;
    box-shadow: 0 0 0 6px #fff, 0 20px 35px rgba(0, 0, 0, 1);
} */


.box {
    height: 280px;
    width: 280px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #020438;
    border-radius: 100%;
    overflow: hidden;
}

.box .percent {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 64px;
}

.box .water {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    background: #2b4fd4;
    transition: all 0.3s;
}

.box .water_wave {
    width: 200%;
    position: absolute;
    bottom: 100%;
}

.box .water_wave_back {
    right: 0;
    fill: #3950ff;
    animation: wave-back 1.4s infinite linear;
}

.box .water_wave_front {
    left: 0;
    fill: #2b4fd4;
    margin-bottom: -1px;
    animation: wave-front 1.3s infinite linear;
}

@keyframes wave-front {
    100% {
        transform: translate(-50%, 0);
    }
}

@keyframes wave-back {
    100% {
        transform: translate(50%, 0);
    }
}

.contain__info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
}

.contain__desc {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 0 0;
}

.contain__desc:nth-child(2) {
    text-align: right;
}

.contain__desc-title {
    font-size: 22px;
    margin-bottom: 5px;
}

.contain__desc-subtitle {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}

.contain__desc-txt {
    color: #666;
}

h2 b {
    color: #60c658;
}

/* news start */

.news__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news__card-info {
    max-width: 350px;
    width: 100%;
    padding: 40px;
    background: #fff;
    box-shadow: 0 10px 20px #707070;
    border-radius: 5px;
    text-align: left;
    margin-top: -50px;
    color: #000;
}

.news__card-img {
    max-width: 420px;
    max-height: 220px;
    box-shadow: 0 10px 20px #7b7d7e;
    border-radius: 5px;
    overflow: hidden;
}

.news__card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news__card-title {
    font-size: 24px;
    margin-bottom: 7px;
    display: block;
    color: #000;
    font-weight: 700;
}

.news__card-date {
    margin-bottom: 10px;
}

.news__card-txt {
    color: #666;
}

/* partner start */

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 4));
    }
}

.slider {
    background: white;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
    background: #0e2c50;
}

.slider .slide-track a {
    max-width: 150px;
    max-height: 100px;
    overflow: hidden;
    margin-right: 80px;
}

.slider .slide-track a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .slide {
    height: 100px;
    width: 250px;
}

/* footer start */

.footer-section {
    background: #0e2c50;
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: var(--accent);
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text a {
    color: #fff;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 28px;
    /* padding-right: 15%; */
    max-width: 400px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.facebook-bg {
    background: #3B5998;
}

.twitter-bg {
    background: #55ACEE;
}

.google-bg {
    background: #DD4B39;
}

.footer-widget-heading h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
    transition: .3s;
    text-align: left;

}

.footer-widget-heading h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: var(--accent);
}

.footer-widget ul li {
    display: inline-block;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: var(--accent);
}

.footer-widget ul li a {
    color: #fff;
    transition: .3s;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 80%;
    padding: 14px 28px;
    background: #fff;
    border: 1px solid var(--accent);
    border: 5px;
}

.subscribe-form button {
    position: absolute;
    right: 20%;
    background: var(--accent);
    padding: 13px 20px;
    border: 1px solid var(--accent);
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #0a213d;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 18px;
    color: #ffffff;
}

.copyright-text p a {
    color: var(--accent);
    font-weight: 700;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
    transition: .3s;
}

.footer-menu li:hover a {
    color: var(--accent);
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

ol,
ul {
    padding-left: 0;
}

/* about start */

.about-header {
    background: url(../images/banners/banner-terms-condition.jpg) no-repeat center / cover;
    width: 100%;
    height: 30vh;
    position: relative;
}

.about__title {
    font-size: 42px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #0e2c50;
}

.about-header .header__link,
.about-header .nav-dropdown a {
    color: #0e2c50;
    text-shadow: none;
}

.about__txt {
    font-size: 18px;
}

.about__txt b {
    color: #2b4fd4;
}

/* about end */

/* contact start */

.contact__form {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
}

label i {
    color: var(--accent);
    font-weight: 700;
    font-style: normal;
}

label {
    margin-bottom: 10px;
}

button,
input,
textarea {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

input {
    border: 1px solid #222;
}

textarea {
    min-height: 100px;
}

.contact__form button {
    min-height: 36px;
    border: 1px solid #222;
    background: #0e2c50;
    max-width: 450px;
    color: #fff;
    transition: .3s;
    font-size: 18px;
    margin: 0 auto;
    width: 100%;
}

button:hover {
    background: var(--accent);
}

/* contact end */

.case-study-gallery {
    margin-top: 50px;
    width: 90%;
    margin: 50px auto;
    max-width: 1100px;
}

.case-study {
    position: relative;
    display: block;
    width: 90%;
    height: 250px;
    margin: 0 auto 2rem;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, .5);
    overflow: hidden;
    transition: all 0.6s ease;
}

@media screen and (min-width: 37.5em) {
    .case-study {
        height: 300px;
    }
}

@media screen and (min-width: 45em) {
    .case-study {
        display: inline-block;
        width: 45%;
        margin-left: 25px;
    }
}

.case-study__img {
    width: 90%;
    display: block;
    margin-top: 50%;
    transform: translateY(50%);
    margin: 0 auto;
}

.case-study__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}

.case-study__overlay:after {
    content: '';
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: #202020;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -10;
    left: 0;
    transition: all 0.6s ease;
}

.case-study__title {
    position: relative;
    top: -200px;
    margin-bottom: 2rem;
    margin-top: 4rem;
    font-size: 2.25rem;
    font-weight: 100;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    transition: all 0.6s cubic-bezier(0.3, 0, 0, 1.3);
}

.case-study__link {
    position: relative;
    display: block;
    width: 60%;
    top: 200px;
    padding: 10px;
    margin: 0 auto;
    color: white;
    letter-spacing: 3px;
    text-decoration: none;
    text-align: center;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 1.25em;
    transition: all 0.6s cubic-bezier(0.3, 0, 0, 1.3);
}

.case-study__link:hover {
    background-color: white;
    color: #202020;
}

.case-study:hover .case-study__title {
    top: 0;
}

.case-study:hover .case-study__link {
    top: 0;
}

.case-study:hover .case-study__overlay:after {
    opacity: 0.75;
}

.study1 {
    background: url(../images/news/news1.jpg) no-repeat center / cover;
}

.study2 {
    background: url(../images/news/news1.jpg) no-repeat center / cover;
}

.study3 {
    background: url(../images/news/news1.jpg) no-repeat center / cover;
}

.study4 {
    background: url(../images/news/news1.jpg) no-repeat center / cover;
}

/* */

.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
  }
  .accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  }
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
  
  @media(max-width:767px) {
    html {
      font-size: 14px;
    }
  }